RewriteEngine On

# Редирект со старого домена на новый
RewriteCond %{HTTP_HOST} ^pechnik\.minsk\.by$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www\.pechnik\.minsk\.by$ [NC]
RewriteRule ^(.*)$ https://pechnik-minsk.by/$1 [R=301,L]
